<!DOCTYPE html>
<html>
<head>
    <meta charset="uf-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="../../static/nav_bar.css">
    <link href="http://fonts.googleapis.com/css?
    family = Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-sm navbar-light bg-light d-flex justify-content-center">
</nav>
<header>
    <h1><a href="/static" th:href="@{/static}">RECIPES</span></a></h1>
    <nav>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/user/registration}">Register</a></li>
        </ul>
    </nav>
</header>
</html>