<!DOCTYPE html>
<html>
<head>
    <meta charset="uf-8">
    <title>Navbar</title>
    <link href="http://fonts.googleapis.com/css?
    family = Alfa+Slab+One|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" th:href = "@{/nav_bar_2.css}">
</head>
<body>
<div th:replace = "fragments/header::header">&nbsp;
</div>
<header th:fragment="navBar">
    <h1><a th:href="@{/}">RECIPES</span></a></h1>
    <nav>
        <ul>
            <li><a th:href="@{/recipe}">Recipe</a></li>
            <li><a th:href="@{/ingredient/ingredients}">Ingredients</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>
</body>
</html>