<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td ul li {
            text-align: left;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #04AA6D;
            color: white;
        }
    </style>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/nav_bar_2.css}">
    <title>Home</title>
</head>
<body style="background-color: #ffffff">
<header th:replace="fragments/nav_bar_2 :: navBar"/>

<div sec:authorize="isAuthenticated()">
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/add-recipe}" class="btn btn-primary">Add a new recipe</a>
</div>
<div><h3 style="padding-left: 20px">Recipe Search by ingredients</h3></div>
<form action="#" th:action="@{/recipe/search}" th:object="${searchForm}" method="POST">
    <div class="container">

        <p><strong>Select Ingredients(Multiple):</strong>
            <select th:field="*{ingredientsListIds}" multiple="multiple" required="required">

                <option th:each="ingredient: ${ingredients}"
                        th:value="${ingredient.id}" th:text="${ingredient.name}">
            </select>
            <input type="submit" value="Search"/>
        </p>
    </div>
</form>

<br>
<br>

<h3 style="padding-left: 20px">Search result with matching ingredients</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Ingredients</th>
    </tr>
    <tr th:each="searchResult : ${searchResult}">
        <td th:text="${searchResult.title}"></td>
        <td th:text="${searchResult.description}"></td>
        <td th:text="${ingredientsString}"></td>
</table>

<br>
<br>

<h3 style="padding-left: 20px">Suggested recipes without one ingredient</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Ingredients</th>
    </tr>
    <tr th:each="searchResult : ${searchResultWithoutOneIngredient}">
        <td th:text="${searchResult.title}"></td>
        <td th:text="${searchResult.description}"></td>
        <td th:text="${ingredientsToString}"></td>
</table>
</body>
</html>