<!DOCTYPE html>
<html>
<head>
    <meta charset="uf-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="nav_bar.css">
    <link href="http://fonts.googleapis.com/css?
    family = Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<header>
    <h1>RECIPES</span></h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Recipe</a></li>
            <li><a href="#">Ingredient</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>
</html>