<!DOCTYPE html>
<html>
<head>
    <meta charset="uf-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="../static/nav_bar_2.css">
    <link href="http://fonts.googleapis.com/css?
    family = Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<header>
    <h1><a href="#">RECIPES</span></a></h1>
    <nav>
        <ul>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Ingredients</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>
</html>